<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="/">Life Journey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item <%= section == 'users'?'active':''%>">
        <a class="nav-link" href="/users">User</a>
      </li>
      <li class="nav-item <%= section == 'journals'?'active':''%>">
        <a class="nav-link" href="/journals">Journal</a>
      </li>
      <li class="nav-item <%= section == 'categories'?'active':''%>">
        <a class="nav-link" href="/categories">Category</a>
      </li>
    </ul>
    <% if(username) {%>
    <div class="navbar-nav my-2 my-lg-0 dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= username %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/journals/:id">My Journey</a>
        <a class="dropdown-item" href="/follows/:id">My Follower</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </div>
    <% } else {%>
    <div class="navbar-nav my-2 my-lg-0 dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Username
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/login">Login</a>
      </div>
    </div>
    <% } %>

  </div>
</nav>