<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/nav %>
        </header>
        <main>
            <div class="card">
                <div class="card-header">Student</div>
                <div class="card-body">
                    <h2><%= category.name %></h2>
                    <ul>
                        <% if(category.Journals.length > 0){ %>
                            <% category.Journals.forEach((journal)=>{ %>
                            <li>
                                <a href="/journals/show/<%= journal.id %>"><%= journal.title %></a>
                            </li>
                        <%  }) %>
                        <% } else { %>
                           Journal with this category not found
                        <% } %>
                    </ul>
                    <a href="/categories">
                        < Back </a>
                </div>
            </div>
        </main>
    </div>
</body>

</html>